.o_knowledge_behavior_type_file {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $o-gray-100;
    outline: 1px solid $o-gray-300;
    outline-offset: -1px;
    display: flex;
    padding: 5px;
    & > .o_knowledge_file_image {
        display: flex;
    }
    & > .o_knowledge_file_description {
        margin-left: 5px;
        margin-right: 5px;
    }
    .o_knowledge_file_extension {
        text-transform: uppercase;
        font-size: $font-size-sm !important;
    }
}


.o_knowledge_behavior_type_toc {
    box-shadow: 0 2px 4px 4px $o-gray-200;
    padding: 10px;
    margin: 15px 0 15px 0;
    & > .o_knowledge_toc_content {
        @for $depth from 0 through 5 {
            a.o_knowledge_toc_link_depth_#{$depth} {
                padding-left: calc(5px + Min(30px, 10%) * #{$depth});
                font-family: $font-family-base !important;
                font-weight: $font-weight-bolder !important;
                border-radius: 5px;
                min-height: $line-height-base * $font-size-base;
                border: transparent;

                &:hover {
                    background-color: rgba(#1ba1e4, 0.2);
                    text-decoration: none;
                }
            }

            a.o_knowledge_toc_link_depth_0 {
                // initial 5px padding to give some space to first level
                padding-left: 5px;
            }
        }
    }
}


.o_knowledge_behavior_type_articles_structure {
    box-shadow: 0 2px 4px 4px $o-gray-200;
    padding: 10px;
    margin: 15px 0;
    .o_knowledge_articles_structure_content {
        min-height: 30px;

        ol {
            list-style-type: none;
            padding-left: Min(30px, 10%);
            li {
                a {
                    font-family: $font-family-base !important;
                    font-weight: $font-weight-bolder !important;
                    border-radius: 5px;
                    min-height: $line-height-base * $font-size-base;
                }
                a:hover {
                    background-color: rgba(#1ba1e4, 0.2);
                    text-decoration: none;
                }
            }
        }

        > ol {
            padding-left: 5px;
        }
    }
}
